.statistics {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 98px repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "header header header header header header"
    "users-card users-card orders-card orders-card products-card products-card"
    "users-card users-card orders-card orders-card products-card products-card"
    "orders-graph orders-graph orders-graph orders-graph top-graph top-graph"
    "orders-graph orders-graph orders-graph orders-graph top-graph top-graph"
    "orders-graph orders-graph orders-graph orders-graph top-graph top-graph"
    "xy-graph xy-graph xy-graph xy-graph xy-graph geo-graph"
    "xy-graph xy-graph xy-graph xy-graph xy-graph geo-graph"
    "xy-graph xy-graph xy-graph xy-graph xy-graph geo-graph";
  padding: 0 40px 40px;
  box-sizing: border-box;

  header {
    display: flex;
    align-items: center;
    grid-area: header;
    position: relative;
    h2 {
      color: silver;
      font-size: 34px;
    }
    input {
      color: white;
      background-color: transparent;
      border: 1px solid silver;
      border-radius: 8px;
      padding: 5px 5px;
      margin-left: 20px;
    }
    #notifications {
      font-size: 30px;
      cursor: pointer;
      margin-left: 10px;
    }
    .account {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      span {
        margin-right: 10px;
      }
      img {
        height: 55px;
        width: 55px;
        border-radius: 100%;
      }
      svg {
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

  .item {
    border-radius: 12px;
    padding: 5px;
    background-color: #282c31;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    header {
      display: flex;
      align-items: center;
      justify-items: center;
      font-size: 26px;
      position: relative;
      svg {
        font-size: 40px;
        position: absolute;
        right: 0;
      }
    }
    span {
      position: absolute;
      bottom: 40px;
      font-size: 20px;
    }
  }
  .users-card {
    grid-area: users-card;
  }
  .orders-card {
    grid-area: orders-card;
  }
  .products-card {
    grid-area: products-card;
  }
  .orders-graph {
    grid-area: orders-graph;
  }
  .top-graph {
    grid-area: top-graph;
  }
  .xy-graph {
    grid-area: xy-graph;
  }
  .geo-graph {
    grid-area: geo-graph;
  }
}
